
/* NORMALIZE */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Glegoo|Open+Sans+Condensed:300');

@font-face {
  font-family: 'Aurebesh';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Aurebesh.otf') format('opentype');
}

/* GENERAL RULES */

* {
  box-sizing: border-box;
  color: #9a9a9a;
  font-family: 'Open Sans Condensed', sans-serif;
}

.styleized-font {
  font-family: 'Aurebesh', sans-serif;
}

.emph {
  font-weight: 600;
  color: #585858;
}

.App {
  position: relative;
  background-color: gainsboro;
}

/* HEADER AND FOOTER */

.App footer,
.App header {
  background-color: white;
  position: relative;
}

.App header {
  border-top: 1rem solid #f8f8f8;
}

.App footer {
  border-bottom: 1rem solid #f8f8f8;
}

.App header .header-shape,
.App footer .footer-shape {
  background-color: white;
  position: absolute;
  margin: 0 auto;
}

.App header .header-shape {
  height: 2rem;
  background-color: white;
  bottom: -2rem;
}

.App footer .footer-shape {
  height: 6rem;
  top: -6rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App header .header-shape::after,
.App header .header-shape::before,
.App footer .footer-shape::after,
.App footer .footer-shape::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
}

.App header .header-shape::after,
.App header .header-shape::before {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid white;
}

.App footer .footer-shape::after,
.App footer .footer-shape::before {
  border-left: 6rem solid transparent;
  border-right: 6rem solid transparent;
  border-bottom: 6rem solid white;
}

.App header .header-shape::before {
  left: -2rem;
}

.App header .header-shape::after {
  right: -2rem;
}

.App footer .footer-shape::before {
  left: -6rem;
}

.App footer .footer-shape::after {
  right: -6rem;
}

/* header and footer type and site logo */

.App header h1 {
  font-family: 'Glegoo', serif;
  color: #585858;
}

.App footer .footer-shape p {
  font-size: .8rem;
  z-index: 4;
  position: relative;
  margin-bottom: .2rem;
  font-family: 'Glegoo', serif;
}

.App-logo {
  width: 15rem;
}

@media screen and (max-width: 767px) {
  .App header h1 {
    font-size: 1.5rem;
    display: block;
    margin-left: 1rem;
    margin-top: .2rem;
  }
  .App footer,
  .App header {
    padding: 1rem 4rem .5rem 1.5rem;
  }
  .App footer .footer-shape,
  .App header .header-shape {
    width: 19rem;
  }
  .App footer .footer-shape {
    right: 6rem;
  }
  .App-logo {
    margin-left: .5rem;
  }
}

@media screen and (min-width: 768px) {
  .App header h1 {
    font-size: 2.1rem;
    display: inline-block;
    margin-left: .6rem;
    margin-top: 0;
  }
  .App footer,
  .App header {
    padding: 1rem 4rem .5rem 4rem;
  }
  .App footer .footer-shape {
    width: 35rem;
    right: 8rem;
  }
  .App header .header-shape {
    width: 40rem;
  }
  .App-logo {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .App footer::before,
  .App header::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
  }
  .App header::before {
    border-top: 6rem solid white;
    bottom: -3rem;
    right: -3rem;
    transform: rotate(90deg);
  }
  .App footer::before {
    border-bottom: 6rem solid white;
    top: -6rem;
    left: -6rem;
  }
}

/* MAIN */


.App main {
  max-width: 65rem;
  margin: 0 auto;
}

.page-content {
  padding: 0 1.5rem;
}

@media screen and (max-width: 767px) {
  .App main {
    padding: 5rem 0 8rem 0;
  }
}

@media screen and (min-width: 768px) {
  .App main {
    padding: 5rem 0 8rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .App main {
    padding: 5rem 0 7rem 0;
  }
}
