/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Glegoo');

@font-face {
  font-family: 'Aurebesh';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Aurebesh.otf') format('opentype');
}

.App-logo {
  margin-left: 2rem;
  width: 15rem;
}

* {
  box-sizing: border-box;
  color: #9a9a9a;
}

.styleized-font {
  font-family: 'Aurebesh', sans-serif;
}

.App header {
  padding: 1rem 4rem .5rem 4rem;
  background-color: white;
  position: relative;
  border-top: 1rem solid #f8f8f8;
}

.App header h1 {
  display: inline-block;
  font-family: 'Glegoo', cursive;
  font-size: 2.1rem;
  margin-left: .6rem;
  color: #585858;
}

.App header .header-shape {
  width: 40rem;
  height: 2rem;
  background-color: white;
  bottom: -2rem;
  position: absolute;
  margin: 0 auto;
}

.App header .header-shape::after,
.App header .header-shape::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid white;
  position: absolute;
  top: 0;
}

.App header .header-shape::before {
  left: -2rem;
}

.App header .header-shape::after {
  right: -2rem;
}

.App main {
  max-width: 65rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.App {
  background-color: gainsboro;
}
